<h1>All Alpha Bloggers</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Article</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.username, user_path(user) %></td>
      <td><%= pluralize(user.articles.count, "article") if user.articles %></td>
    </tr>
  <% end %>
</table>